<div>
  <!-- prvi način: translation pipe -->
  <h1>{{ 'TRANSLATIONS.title' | translate }}</h1>
  <br>
  <!-- drugi način a): directive (key as attribute)-->
  <p [translate]="'TRANSLATIONS.text_1'"></p>
  <br>
  <!-- drugi način b): directive (key as content of element) -->
  <p translate>TRANSLATIONS.text_2</p>
</div>

<hr>

<div>
<!-- prvi način: translation pipe -->
<p>{{ 'TRANSLATIONS.parameter' | translate:{'type_value':'pipe'} }}</p>
<!-- drugi način a): directive (key as attribute)-->
<p [translate]="'TRANSLATIONS.parameter'" [translateParams]="{type_value: 'directive (key as attribute)'}"></p>
<!-- drugi način b): directive (key as content of element) -->
<p translate [translateParams]="{type_value: 'directive (key as content of element)'}">TRANSLATIONS.parameter</p>
</div>


<div>
  <button (click)="switchLanguage('en')">
    english
  </button>
  <button (click)="switchLanguage('fr')">
    française
  </button>
</div>
